{% extends 'base.html.twig' %}

{% block title %}Hello RoutineController!{% endblock %}

{% block content %}

<div class="container col-md-5">
    <div class=" register-form form">
        {{ form(form) }}
    </div>
</div>

{% endblock %}